<%=render 'share/header' %>


<div class="top-page-main">
  <div class="top-page-main-text">
    グルメを調べたい都道府県をclick!
  </div>

<div id="jmap" class="jmap"></div>

<div class="all-japan-posts-link">
  <%= link_to "日本全国を一気見する！", posts_path, class:"all-japan-posts-link-btn" %>
</div>

</div>

<%=render 'share/footer' %>
