<%=render 'share/header' %>

<div class="show-page-main">
<%= render 'search_box' %>
  <div class="prefecture_name">
  熊本県のグルメ
  </div>
  <%= render 'search_prefecture', posts: @posts  %>
</div>

<%=render 'share/footer' %>