.show-detail-page-main{
  margin-top: 100px;
  z-index: 10;
  text-align: center;
}

.post-content{
  margin: 0 25%;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px dashed gray;
}

.user-only-func-class{
  text-align: end;
}

.user-only-func-btn{
  font-size: 14px;
  color: gray;
}

.detail-image{
  width: auto;
  height: 300px;
}

.detail-lists{
  list-style: none;
  margin: auto;
  border: antiquewhite;
}

.detail-list{
  margin: 10px;
  text-align: left;
}
